body {
  background: radial-gradient(circle at top, #05060a, #000);
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  color: white;
}

.container {
  background: rgba(10,15,30,0.9);
  border-radius: 18px;
  padding: 30px;
  width: 90%;
  max-width: 420px;
  box-shadow: 0 0 40px rgba(0,255,255,0.15);
  backdrop-filter: blur(10px);
  border: 1px solid rgba(0,255,255,0.15);
  text-align: center;
}

h1 {
  color: #00ffff;
  margin-bottom: 5px;
  text-shadow: 0 0 10px rgba(0,255,255,0.6);
}

p {
  opacity: 0.7;
  margin-bottom: 20px;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 10px;
  border: none;
  outline: none;
  background: #02040a;
  color: #00ffff;
  font-size: 14px;
  box-shadow: inset 0 0 10px rgba(0,255,255,0.2);
}

button {
  width: 100%;
  padding: 14px;
  margin-top: 15px;
  border-radius: 10px;
  border: none;
  background: linear-gradient(90deg,#00ffff,#00ffaa);
  color: black;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0 0 20px rgba(0,255,255,0.6);
}

#output {
  margin-top: 25px;
  font-size: 18px;
  line-height: 1.4;
}
