body {
  background: #020409;
  font-family: Arial, sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
  color: white;
}

.container {
  background: #0a1020;
  padding: 25px;
  border-radius: 15px;
  width: 90%;
  max-width: 420px;
  text-align: center;
  box-shadow: 0 0 30px rgba(0,255,255,0.15);
}

h1 {
  color: #00ffff;
}

input {
  width: 100%;
  padding: 14px;
  border-radius: 8px;
  border: none;
  background: #02040a;
  color: #00ffff;
}

button {
  width: 100%;
  margin-top: 15px;
  padding: 14px;
  border: none;
  border-radius: 8px;
  background: #00ffff;
  color: black;
  font-weight: bold;
}

#result {
  margin-top: 20px;
  font-size: 18px;
}
